.shorter_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, white 0, white 80px, var(--gray_100) 80px);

    .shorter_wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background: url('../../assets/bg-shorten-desktop.svg') var(--dark_violet);
        background-size: cover;
        width: 85% ;
        height: 168px;


        .shorter_input{
            width: 75%;
            height: 60px;
            border-radius: 10px;
            border: none;
            font-size: 16px;
            text-indent: 2rem;
    
        }
        
        .invalid_url{
            width: 75%;
            height: 60px;
            border-radius: 10px;
            border: 3px solid var(--red);
            font-size: 16px;
            text-indent: 2rem;
   
        }
        input::placeholder{
            font-size: 20px;
            text-indent: 2rem;
            color: var (--grayish_violet);
        }

       
        .shorter_button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 190px;
        color: white;
        background: var(--cyan);
        border-radius: 10px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
                
            &:hover{
                background: hsl(180, 66%, 75%);
            }
        }

        
    }


}



@media (max-width: 600px){
    .shorter_section{

        .shorter_wrapper{
            background: url('../../assets/bg-shorten-mobile.svg') var(--dark_violet);
            background-size: cover;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            

            .shorter_button{
                width: 75%;
                margin: 0;
            }
        }
    }

}