.hero{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 150px;

    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 720px;
        
        
        padding: 0 100px 0 100px;

        h1{
            font-size: 4rem;
            color: var(--very_dark_blue);
            
        }
        p{
            color: var(--grayish_violet);
            font-size: 1.25rem;
        }

    }

    .illustration_working{
        width: 100%;
        overflow-x: hidden;

        img{
            margin-right: -20px;
        }
       
    }

    .start_button{
        height: 50px;
        width: 180px;
        align-self: flex-start;
        margin-top: 30px;
        color: white;
        background: var(--cyan);
        border-radius: 30px;
        border: none;
        font-size: 18px;
        font-weight: bold;
        

        transition: opacity 0.2s;
            
        &:hover{
            opacity: 0.5;
        }
    }
}

@media (max-width: 600px){
    .hero{
        flex-direction: column-reverse;

        .content{
            h1{
                text-align: center;
                font-size: 3rem;
            }

            p{
                text-align: center;
            }

            .start_button{
                align-self: center;
            }
        }

        
    }

}